*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation Bar */
#navigation-bar{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navigation-bar .nav-links{
    position: fixed;
    width: 90%;
    height: 70px;
    background-color: rgba(2, 45, 56, 0.8);
    border-radius: 0 0 15px 15px;  
    margin-left: 5%;
    margin-right: 5%; 
    z-index: 50;
}

#navigation-bar .nav-links .nav-logo img{
    margin-top: 3px;
    margin-left: 30px;
    width: 60px;
    border-radius: 15px;
}

#navigation-bar .nav-links .list-items{
    margin-top: 6px;
    position: relative;
    float: right;
    list-style: none;
    margin-right: 20px;
}

#navigation-bar .nav-links .list-items li{
    width: 155px;
    padding: 5px;
    background: rgba(74, 125, 167, 0.486);
    margin: 10px;
    display: inline-block;
    text-align: center;  
    border-radius: 15px;
    border: 2px solid rgb(41, 137, 216);
    transition: 0.5s;
    color: #fff;
    font-size: 19px;
    font-weight: 500;
    text-transform: uppercase;
}

#navigation-bar .nav-links .list-items li:hover{
    background-color: rgb(7, 189, 177);
}

#navigation-bar .nav-links .list-items li a{
    text-decoration: none;
}

#navigation-bar .nav-links .list-items #active{
    background-color: rgb(3, 155, 145);
}


/* Side Navigation Section */
#side-navigation-bar{
    top: 0;
    height: 100%;
    position: fixed;
    display: none;
    z-index: 10;
}

.wrapper{
    height: 100%;
    width: 300px;
    z-index: 50;
}

.wrapper .menu-btns{
    position: fixed;
    left: 30px;
    top: 10px;
    background: #333333a9;
    color: #fff;
    height: 45px;
    width: 45px;
    z-index: 9999;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

#btn:checked ~ .menu-btns{
    left: 296px;
}

.wrapper .menu-btns i{
    position: absolute;
    font-size: 25px;
    transition: all 0.3s ease;
}

.wrapper .menu-btns i.fa-times{
    opacity: 0;
}

#btn:checked ~ .menu-btns i.fa-times{
    opacity: 1;
    transform: rotate(-180deg);
}

#btn:checked ~ .menu-btns i.fa-bars{
    opacity: 0;
    transform: rotate(180deg);
}

#sidebar{
    position: fixed;
    background: #404040;
    height: 100%;
    width: 300px;
    overflow: hidden;
    transition: all 0.5s ease;
    margin-bottom: 10px;
    left: -300px;
}

#btn:checked ~ #sidebar{
    left: 0;
}

#sidebar .title{
    background: #333;
    line-height: 65px;
}

#sidebar .title img{
    width: 46%;
    border-radius: 20px;
    margin-left: 27%;
    margin-right: 27%;
    margin-top: 10px;
}

#sidebar .title h2{
    color: #fff;
    text-align: center;
    line-height: normal;
    font-size: 24px;
}

#sidebar .list-items{
    background-color: #404040;
    width: 230px;
    height: 100%;
    list-style: none;
}

#sidebar .list-items li{
    padding-left: 40px;
    line-height: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid #333;
    transition: all 0.4s ease;
}

#sidebar .list-items #active{
    background-color: #464646a4;
    box-shadow: 0 0px 10px 3px #111111;
}

#sidebar .list-items li:hover{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow: 0 0px 10px 3px #222;
}

#sidebar .list-items li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    height: 100%;
    width: 100%;
    display: block;
}

#sidebar .list-items li a i{
    margin-right: 20px;
}

#sidebar .list-items .icons{
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

#sidebar .list-items .icons a{
    height: 100%;
    width: 40px;
    display: block;
    margin: 0 5px;
    font-size: 18px;
    color: #f2f2f2;
    background: #4a4a4a4a;
    border-radius: 5px;
    border: 1px solid #383838;
    transition: all 0.3 ease;
}

#sidebar .list-items .icons a:hover{
    background: #404040;
}

.list-items .icons a:first-child{
    margin-left: 0px;
}

/* Media Query For Very Small Screen Sized Phones */
@media only screen and (max-width: 480px){
    #navigation-bar{
        display: none;
    }

    #btn:checked ~ .menu-btns{
        left: 226px;
    }

    #side-navigation-bar{
        top: 0;
        height: 100%;
        position: fixed;
        display: contents;
        z-index: 50;
    }

    #sidebar{
        top: 0;
        width: 230px;
        z-index: 50;

    }
}

@media only screen and  (min-width: 481px)and (max-width: 889px){
    #navigation-bar{
        display: none;
    }

    #side-navigation-bar{
        display: contents;
    }

    .wrapper{
        display: contents;
    }

    #sidebar{
        top: 0;
        width: 230px;
        z-index: 50;
    }

    #btn:checked ~ .menu-btns{
        left: 226px;
    }
}

/* Media Query For medium sized screens */
@media only screen and  (min-width: 890px){
    .wrapper{
        display: none;
    }

    #navigation-bar .nav-links .list-items li{
        font-size: 0.9em;
        width: 155px;
        margin: 16px 5px 10px 5px;
        border-radius: 8px;
    }
}

/* Banner Section */
#banner{
    background: linear-gradient(rgba(0,0,0,0.3), #04cfbb91), url(Home-background.webp);
    background-size: cover;
    background-position: center;
    height: 500px;
}

#banner p{
    font-family: 'Bruno Ace', cursive;
    font-size: 60px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding-top: 200px;
    color: #dadada;
    word-spacing: 10px;
    letter-spacing: 3px;
}

#banner #social-links{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner #social-links a div{
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

#banner #social-links a{
    margin: 3px;
    border-radius: 10px;
    overflow: hidden;
}

#banner i{
    padding: 5px;
    font-size: 30px;
    border: 2px solid #e9e9e9;
    border-radius: 10px;
}

#banner #social-links .l1{
    color: rgb(0, 0, 173);
}

#banner #social-links a:hover .l1{
    color: #fff;
    background-color: rgb(35, 35, 196);
}

#banner #social-links .l2{
    color: rgb(196, 196, 196);
}

#banner #social-links a:hover .l2{
    color: #fff;
    background-color: rgb(67, 67, 128);
}

#banner #social-links .l3{
    color: rgb(187, 187, 187);
}

#banner #social-links a:hover .l3{
    color: #fff;
    background-color: rgb(13, 139, 2);
}

#banner #social-links .l4{
    color: rgb(209, 6, 6);
}

#banner #social-links a:hover .l4{
    color: #fff;
    background-color: rgb(230, 4, 4);
}

/* Media Query For Very Small Screen Sized Phones */
@media only screen and (max-width: 479px){
    #banner p{
        font-size: 2em;
    }

    #banner i{
        font-size: 26px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px){
    #banner p{
        font-size: 2.8em;
    }
}

/* Services Provided Section */
#services-provided .header{
    text-align: center;
    padding-top: 20px;
    font-size: 35px;
    color: #009688;
    font-weight: 0;
    padding-bottom: 20px;
}

#element-container:nth-child(even){
    background-color: #e2e2e2;
}

#element-container:nth-child(odd){
    background-color: #c9cccf86;
}

#element-container{
    box-sizing: border-box;
    margin: 10px 10px 30px 10px;
}

#element-container .zoom-img{
    text-align: center;
    font-size: 1.2em;
}

#element-container .element{
    display: flex;
    align-items: center;
    margin-left: 30px;
}

#element-container .element .image{
    margin-left: 7%;
    margin: 15px 10px 15px 10px;
}

#element-container .element .image img{
    width: 400px;
    height: 400px;
}

#element-container .element .describe{
    width: 700px;
    margin-left: 30px;
}

#element-container .element .describe .title{
    font-size: 1.7em;
    padding-bottom: 20px;
}

#element-container .element .describe .about{
    font-size: 1.2em;
    line-height: 1.5;
    padding-right: 4%;
    min-width: 300px;
}

@media only screen and (max-width: 767px){
    #element-container .element{
        margin: 10px;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }

    #element-container .element .image{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    #element-container .element .image img{
        display: none;
    }

    #element-container .element .describe{
        width: 100%;
        margin-left: 5px;
        display: grid;
        justify-content: center;
    }

    #element-container .element .describe .title{
        font-size: 1.4em;
        text-align: center;
        padding: 10px;
    }

    #element-container .element .describe .about{
        width: 90%;
        font-size: 1.2em;
        line-height: 1.3;
        padding: 5px 6px 5px 10px;
    }
}

@media only screen and  (min-width: 768px) and (max-width: 1023px){
    #element-container .element .image img{
        width: 350px;
        height: 350px;
    }

    #element-container .element .describe .title{
        font-size: 1.9em;
        padding-bottom: 20px;
    }

    #element-container .element .describe .about{
        font-size: 1.2em;
        line-height: 1.5;
        padding-right: 4%;
        min-width: 300px;
    }
}

/* Styles for the image gallery display */
/* Styles for the gallery container */
.gallery-display .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
/* Styles for the individual images */
.gallery-display .gallery-container .gallery-image {
    width: 150px;
    height: 150px;
    object-fit: fill;
    cursor: pointer;
    background: #ddfffc;
    margin: 10px;
}

/* Styles for the popup container */
.gallery-display .popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 0s linear 0.3s;
}

.gallery-display .popup-container.open {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

/* Styles for the popup image */
.popup-container .popup-image {
    max-width: 80%;
    max-height: 80%;
}

/* Styles for the close button */
.close-button {
    position: absolute;
    top: 10px;
    right: 40px;
    font-size: 60px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: .7s;
    border: rgba(173, 173, 173, 0.4) 1px solid;
}

.close-button:hover{
    background: rgba(173, 173, 173, 0.4);
}

/* Styles for the navigation buttons */
.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 60px;
    color: #fff;
    background: transparent;
    border: rgba(173, 173, 173, 0.4) 1px solid;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    transition: .7s;
}

.nav-button:hover{
    background: rgba(173, 173, 173, 0.4);
}

.previous-button {
    left: 40px;
}

.next-button {
    right: 40px;
}

@media only screen and (max-width: 479px){
    .gallery-display .gallery-container .gallery-image{
        width: 90px;
        height: 90px;
    }

    .close-button{
        right: 20px;
        font-size: 1.8em;
    }

    .previous-button{
        left: 9px;
    }

    .next-button{
        right: 9px;
    }
}

/* Our Approaches Section */
#our-approaches{
    background-color: #ebebeb;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#our-approaches h2{
    padding-top: 20px;
    font-size: 28px;
    color: #009688;
    font-weight: 500;
    text-align: center;
}

#our-approaches .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#our-approaches .container .details{
    width: 420px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: #c7c7c773;
}

#our-approaches .container .details .title{
    text-align: center;
    font-size: 25px;
    font-weight: 540;
    padding-bottom: 10px;
    padding-top: 8px;
    background-color: #24d6c4be;
    border-radius: 10px 10px 0px 0px;
}

#our-approaches .container .details .description{
    font-size: 19px;
    padding: 10px;
    text-align: justify;
}


@media only screen and (max-width: 479px){
    #our-approaches .container .details{
        width: 98%;
    }

    #our-approaches .container .details .title{
        font-size: 1.4em;
    }

    #our-approaches .container .details .description{
        font-size: 1.1em;
    }
}

@media only screen and (min-width: 480px) and (max-width: 839px){
    #our-approaches .container .details{
        width: 98%;
    }

    #our-approaches .container .details .title{
        font-size: 1.5em;
    }

    #our-approaches .container .details .description{
        font-size: 1.2em;
        line-height: 1.6;
    }
}

/* Footer Section */
.footer{
    box-sizing: border-box;
    background-color: rgba(130, 165, 157, 0.568);
    width: 100%;
    padding: 20px 0;
}

.footer .footer-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
}

.footer-cont div{
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

#f-div1{
    width: 500px;
    display: flex;
}

.footer-cont #f-div1 img{
    width: 220px;
    float: left;
    margin: 15px;
}

.footer-cont #f-div1 #d2 p{
    text-align: center;
    font-size: 18px;
    width: 340px;
    display: inline;
}

#f-div2{
    border-radius: 20px;
    background-color: #dadada;
    width: 300px;
}

#f-div2 h1{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 26px;
}

#f-div2 hr{
    width: 80%;
    border: 2px solid #009688;
    margin-left: auto;
    margin-right: auto;
}

#f-div2 #social-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

#f-div2 #social-links a div{
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

#f-div2 #social-links a{
    margin: 3px;
    border-radius: 10px;
    overflow: hidden;
}

#f-div2 i{
    padding: 5px;
    font-size: 30px;
    border: 2px solid #009688;
    border-radius: 10px;
}

#f-div2 #social-links .l1{
    color: rgb(0, 0, 173);
}

#f-div2 #social-links a:hover .l1{
    color: #fff;
    background-color: rgb(35, 35, 196);
}

#f-div2 #social-links .l2{
    color: rgb(67, 67, 128);
}

#f-div2 #social-links a:hover .l2{
    color: #fff;
    background-color: rgb(67, 67, 128);
}

#f-div2 #social-links .l3{
    color: rgb(13, 139, 2);
}

#f-div2 #social-links a:hover .l3{
    color: #fff;
    background-color: rgb(13, 139, 2);
}

#f-div2 #social-links .l4{
    color: rgb(209, 6, 6);
}

#f-div2 #social-links a:hover .l4{
    color: #fff;
    background-color: rgb(230, 4, 4);
}

#f-div3{
    border-radius: 20px;
    background-color: #dadada;
    width: 400px;
}

#f-div3 h1{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 26px;
}

#f-div3 #find-us .locale p{
    font-size: 23px;
}
#find-us .locale{
    align-items: start;
    width: 100%;
    margin-bottom: 20px;
}

#find-us .locale p{
    text-align: start;
}

#find-us .locale p i{
    text-align: start;
    font-size: 30px;
}

#find-us .locale #p1 i{
    color: #11c0ae;

}

#find-us .locale #p2 i{
    color: #e79806;

}

#find-us .locale #p3 a{
    text-decoration: none;
    color: #00478a;
}

#find-us .locale #p3 a:hover{
    text-decoration: underline;
}

#find-us .locale #p3 i{
    color: #ca0505;

}

.footer .copy{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: 3px solid #009688;
}

.footer #copyright{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
}

.footer #copyright a{
    text-decoration: none;
}

.footer #copyright a:hover{
    text-decoration:underline;
}

@media only screen and (max-width: 1290px){
    .footer #find-us{
        background-color: #d4d4d4;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
        padding-top: 25px;
        padding-bottom: 2px;
        margin-bottom: 20px;
    }

    .footer{
        box-sizing: border-box;
        background-color: rgba(130, 165, 157, 0.568);
        width: 100%;
        padding: 20px 0;
    }

    .footer .footer-cont{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        box-sizing: border-box;
        width: 100%;
    }

    .footer-cont div{
        margin-bottom: 20px;
        justify-content: space-between;
        align-items: center;
        margin: 20px;
    }

    #f-div1{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        text-align: center;
        width:340px;
    }

    .f-div1 #d1{
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 450px;
        margin-bottom: 20px;
    }

    .f-div1 #d1 img{
        width: 90%;
    }

    .footer-cont #f-div1 #d2 p{
        text-align: center;
        line-height: 1.5;
        font-size: 20px;
        width: 100%;
        display: inline;
    }

    #f-div3 h1{
        margin-top: 20px;
        margin-bottom: 5px;
        text-align: center;
        font-size: 26px;
    }
    
    #f-div3 #find-us .locale p{
        font-size: 18px;
    }

    .footer #copyright{
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        font-size: 17px;
        margin-top: 15px;
    }     
}